.main-div {
    display: flex;
    flex-direction: row;
}

.col {
    margin: 1rem 0;
}

.card-grid {
    width: 10rem;
    height: 18rem;
}

.movie-title {
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 500;
    margin: auto;
}

.card-grid img {
    width: 100%;
    height: 80%;
}

.below-carousel {
    width: 80%;
}

.radio-card {
    margin: 1rem 2rem;
    min-width: 15%;
    max-width: 20%;
}

.example-radio-group-custom {
    display: flex;
    flex-direction: column;
}

.example-radio-button-custom {
    margin: 2px;
    padding: 0.1rem 1rem;
}