<!-- <app-spinner *ngIf="movies.length<1"></app-spinner> -->
<app-carousel></app-carousel>

<div class="main-div">

    <!-- for year -->

    <div class="card radio-card">
        <!-- new updated checkbox fix this one abhinav -->
        <div class="form-check" *ngFor="let year of yearsBoot">
            <input class="form-check-input" type="checkbox" [value]="year" id="flexCheckDefault"
                [(ngModel)]="year.selected" (change)="clickedRadioBootStrap(year)">
            <label class="form-check-label" for="flexCheckDefault">
                {{year.year}}
            </label>
        </div>

        <hr>

        <div class="form-check genre-div" *ngFor="let genres of movieGenresList">
            <input class="form-check-input" type="checkbox" [value]="genres" id="flexCheckDefault"
                [(ngModel)]="genres.selected" (change)="clickedRadioGenres(genres)">
            <label class="form-check-label" for="flexCheckDefault">
                {{genres.genre}}
            </label>
        </div>
    </div>

    <div class="card below-carousel">

        <div class="not-found" *ngIf="movies?.content?.length==0">
            <h1>Nothing Found</h1>
            <img src="assets/not-found.svg" alt="">
        </div>

        <div class="container text-center" *ngIf="movies?.content?.length!=0">
            <div class="row">
                <div class="col" *ngFor="let movie of movies?.content" (click)="openDialog(movie)">
                    <div class="card card-grid">
                        <img src="{{movie.thumbnail}}" alt="">
                        <p class="movie-title">{{movie.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[20]" aria-label="Select page"
    (page)="onPageChange($event)" (pageSize)="onPageSizeChange($event)"></mat-paginator>