.main-div {
    display: flex;
    flex-direction: row;
}

.col {
    margin: 1rem 0;
}

.card-grid {
    width: 10rem;
    height: 18rem;
}

.movie-title {
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 500;
    margin: auto;
}

.card-grid img {
    width: 100%;
    height: 80%;
}

.below-carousel {
    width: 80%;
    margin: 1rem;
}

.radio-card {
    margin: 1rem 2rem;
    width: auto;
}

.example-radio-group-custom {
    display: flex;
    flex-direction: column;
}

.example-radio-button-custom {
    margin: 2px;
    padding: 0.1rem 1rem;
}

.not-found {
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 20% auto;
}

.not-found img {
    width: 100%;
    height: 80%;
}

.not-found h1 {
    font-size: 2rem;
}

.form-check {
    margin: 0.5rem;
    font-size: 1rem;
}

/* responsive */

@media screen and (max-width: 600px) {
    .form-check {
        margin: 0.2rem;
        font-size: 0.6rem;
    }

    .radio-card {
        margin: 0.5rem 1rem;
        width: auto;
    }

    .below-carousel {
        width: 80%;
        margin: 0.5rem auto;
    }

    .text-center {
        margin: auto;
        width: auto;
    }

}