<h2 mat-dialog-title>Update Profile</h2>
<mat-dialog-content class="mat-typography">
    <div class="card">
        <form #updateProfile="ngForm" (ngSubmit)="updateProfileForm(updateProfile)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Full Name</label>
                <input ngModel type="text" name="name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input ngModel type="email" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input ngModel type="number" name="phone" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <label for="exampleGender" class="form-label">Gender</label>
            <select ngModel id="exampleGender" name="gender" class="form-select" aria-label="Default select example">
                <option selected>select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <div style="text-align: center;margin: 1rem 0;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>