.main-card {
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 1rem;

}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.make-row {
    /* width: 50%; */
    padding: 1rem;
}

p {
    font-size: 1.2rem;
    font-family: 'Ubuntu';
    margin: auto 5px;
}

.name {
    font-size: 2rem;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
}

.icon-text img {
    width: 2rem;
    height: 2rem;
    margin: auto 5px;
}

.center-it {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}