<h2 mat-dialog-title>Update Profile</h2>
<mat-dialog-content class="mat-typography">
    <div class="card">
        <form #updatePassword="ngForm" (ngSubmit)="passwordChange(updatePassword.value)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Old Password</label>
                <input ngModel type="password" name="oldPassword" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">New Password</label>
                <input [(ngModel)]="checkPassword.newPassword" type="password" name="newPassword" class="form-control"
                    (input)="checkPasswordFunction()" id="exampleInputEmail2" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                <input ngModel (input)="checkPasswordFunction()" [(ngModel)]="checkPassword.cnfPassword" type="password"
                    name="cnfPassword" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                <label *ngIf="isCorrectPassword" for="exampleInputEmail1"
                    class="form-label password-check-label">password mismatch</label>
            </div>

            <div style="text-align: center;margin: 1rem 0;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>