* {
    font-family: 'Ubuntu';
}

.title {
    font-family: 'Ubuntu';
    font-size: 2rem;
}

.img-center {
    text-align: center;
}

.img-center img {
    width: 15rem;
    height: 20rem;
}


.btn {
    margin: 0.5rem 1rem;
}

.bottom-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.chips-main-upper {
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin: 1rem;

}

.element {
    display: flex;
    flex-direction: row;
}

.plot {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {

    .chips-main-upper {
        display: flex;
        flex-direction: row;
        display: inline-block;
        margin: 0.2rem;

    }

}