<div class="mat-card center-dialog-content">
    <h2 class="title" mat-dialog-title>{{data.movieData.title}}</h2>
    <mat-dialog-content class="mat-typography">

        <div class="card-main">
            <div class="img-center">
                <img src="{{data.movieData.thumbnail}}" alt="">

            </div>
            <p>Release Year :- {{data.movieData.year}}</p>
            <!-- <p>casts:- {{data.movieData.cast}}</p> -->
            <p>plot :- {{data.movieData.extract}}</p>
            <p>genres :- {{data.movieData.genres}}</p>
            <hr>
            <h4>casts</h4>
            <mat-chip-listbox class="chips-main-upper" aria-label="Fish selection" *ngFor="let c of casts">
                <div class="chips-main">
                    <mat-chip-option class="element" selected color="warn">{{c}}</mat-chip-option>
                </div>
            </mat-chip-listbox>

        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="bottom-end" align="end">
        <button class="btn btn-danger" mat-button mat-dialog-close>Cancel</button>
        <button class="btn btn-success" mat-button [mat-dialog-close]="true" cdkFocusInitial>Book</button>
    </mat-dialog-actions>
</div>