.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    // background-color: white;
    background-color: #13151c;
    z-index: 1;


    .NavRight {
        .NavRightUl {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            .NavRightLi {
                padding: 5px 20px;
                margin: 0 5px;
                font-weight: 500;
                color: white;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .NavRightSearch {
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2px;

        .NavRightSearchInput {
            border: none;
            outline: none;
            background-color: #13151c;
            color: white;

            &::placeholder {
                color: white;
            }
        }

        .NavRightSearchIcon {
            width: 20px;
            height: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .sidebar-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

